extends partial/layout

block site_title
  != __("Categories") + " · " + config.title

block description
  - var desc = page.desc || strip_html(page.content).replace(/^\s*/, "").replace(/\s*$/, "").substring(0, 150);
  meta(name="description", content=desc)

block content
  .autopagerize_page_element: .content
    .archive
      ul.list-with-title
        .tag-list!= alphabet_category_list(site.categories, { a: "tag_btn", count: "tag_count", title_tag: "div", title_class: "listing-title", before: `<i class="fa fa-folder"></i> ` })
